version: "3.7"
  
### NETWORKS

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.88.88.0/24
  default:
    driver: bridge


### SERVICES
services:

# Portainer CE - WebUI for Containers
  portainer-ce:
    container_name: portainer-ce
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    command: -H unix:///var/run/docker.sock
    networks:
      - backend
    security_opt:
      - apparmor:unconfined
    ports:
      - "8000:8000"
      - "9000:9000"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${STACKDIR}/portainer/data:/data # Change to local directory if you want to save/transfer config locally
    env_file:
      - .env
    environment:
      - TZ=${TZ}
    logging:
      options:
        max-size: "5m"
        max-file: "3"

# Mosquitto - MQTT Broker
# Create mosquitto.conf, passwd, mosquitto.log files  and set permissions to 775 user:docker
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    user: "1883:1883"
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    networks:
      - backend
    ports:
      - "1883:1883" #http
      - "9001:9001" #websockets
#      - "8883:8883" #https 
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ${STACKDIR}/mosquitto/config:/mosquitto/config
      - ${STACKDIR}/mosquitto/data:/mosquitto/data
      - ${STACKDIR}/mosquitto/log:/mosquitto/log
      - ${STACKDIR}/shared:/shared
    env_file:
      - .env
      - mqtt.env
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
    logging:
      options:
        max-size: "5m"
        max-file: "3"

# HomeAssistant
  homeassistant:
    container_name: homeassistant
    restart: unless-stopped
    image: homeassistant/home-assistant:stable
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
      - /dev/ttyACM0:/dev/ttyACM0
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ${STACKDIR}/homeassistant:/config
      - ${STACKDIR}/shared:/shared
    networks:
      - backend
    ports:
      - "8123:8123"
    privileged: true
    depends_on:
      - mosquitto
      - influxdb
    env_file:
      - .env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    logging:
      options:
        max-size: "5m"
        max-file: "3"

# Telegraf
  telegraf:
    container_name: telegraf
    image: telegraf:latest
    restart: unless-stopped
    user: "${PUID}:${PGID}"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ${STACKDIR}/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ${STACKDIR}/telegraf/telegraf.log:/var/log/telegraf/telegraf.log
    depends_on:
      - influxdb
      - mosquitto
    networks:
      - backend
    environment:
      - TZ=${TZ}
    logging:
      options:
        max-size: "5m"
        max-file: "3"

# Grafana - Graphical data visualization for InfluxDB data
  grafana:
    container_name: grafana
    image: grafana/grafana:8.5.4
    restart: unless-stopped
    networks:
      - backend
    security_opt:
      - apparmor:unconfined
    ports:
      - "3000:3000"
    user: "0"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ${STACKDIR}/grafana:/var/lib/grafana
    depends_on:
      - influxdb
    env_file:
      - .env
    environment:
      - TZ=${TZ}      
    logging:
      options:
        max-size: "5m"
        max-file: "3"

### DATABASE

# InfluxDB - Database for sensor data
# Create influxdb.conf first
  influxdb:
    container_name: influxdb
    image: influxdb:1.8
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    networks:
      - backend
    ports:
      - "8086:8086"
      - "8088:8088"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ${STACKDIR}/influxdb/influxdb.conf:/etc/influxdb/influxdb.conf
      - ${STACKDIR}/influxdb/db:/var/lib/influxdb
    env_file:
      - .env
      - influxdb.env
    environment:
      - TZ=${TZ}
    logging:
      options:
        max-size: "5m"
        max-file: "3"

  timeseriesadmin:
    image: timeseriesadmin/timeseriesadmin:latest
    container_name: timeseriesadmin
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    networks:
      - backend
    ports:
      - "8085:80"
    volumes:
      - /etc/timezone:/etc/timezone:ro
    env_file:
      - .env
    environment:
      - TZ=${TZ}
    logging:
      options:
        max-size: "5m"
        max-file: "3"

